.contain {
	width: 100%;
	height: 60px;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	/* flex-direction: column; */
}
.symbol {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.symbol img {
	width: 40px;
}
.symbol span {
	margin-left: 10px;
}
.success {
	color: rgb(18, 128, 14);
}
.error {
	color: darkred;
}
